<% provide(:title, "Edit quiz") %>
<% provide(:button_text, 'Save changes') %>

<div class="row mainpage-container">
<h1>Update the quiz</h1><br>

  <div class="col-md-12">

      <%= render 'edit_form' %>

  </div>
</div>
</div>
