<% provide(:title, 'All quizzes') %>

<div class="row mainpage-container">

<div class="col-md-12">

<h1>All quizzes</h1>
  
<%= will_paginate %>
  
<ul class="users">
  <% @quizzes.each do |quiz| %>
      <%= render quiz %>
  <% end %>
</ul>

<%= will_paginate %>
  
</div>
</div>