<% provide(:title, 'About') %>

<div class="second-nav">
  
<div class="navbar-container">
  
<li style="padding-left:0px;"><%= link_to "About",   about_path %></li>
<li><%= link_to "Faqs", faqs_path %></li>
<li><%= link_to "Help", help_path %></li>
<li><%= link_to "Contact", contact_path %></li>
  
</div>
  
</div>

<div class="background-container">

<div class="background-container-text">
  
<h1>About us</h1>
<h4>You can read about us below!</h4>
  
</div>
  
</div>
