<% provide(:title, 'Home') %>

<body class="home">

  <div class="main-container">

    <div class="row">

      <div class="col-sm-7">

        <h1>Welcome to WebbiSkools Quiz Manager</h1>

        <h3>
          This is the home page for WebbiSkools Quiz Manager where you can manage quizzes.
        </h3>

        <p>By Natalie Brady for Synoptic Project</p>

        <br>

        <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

      </div>

      <div class="col-sm-6">


      </div>

    </div>

  </div>

</body>
