<% provide(:title, 'All users') %>

<div class="row mainpage-container">

  <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert form-alert alert-#{message_type}") %>
  <% end %>

<h1>All users</h1>

<br>

<div class="col-md-12">

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
      <%= render user %>
  <% end %>
</ul>

<%= will_paginate %>

</div>
</div>
