<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my account') %>

<div class="background-container">

<div class="background-container-text">

<h1>Sign up</h1>
<h4>Sign up to start completing quizzes!</h4>

</div>

</div>

<div class="row signup-container">
  <div class="col-md-12">

   <%= render 'form' %>

  </div>
</div>
