<% provide(:title, @user.name) %>

<div class="row mainpage-container">

  <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert form-alert alert-#{message_type}") %>
  <% end %>

  <div class="col-md-12">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>

      </h1>
  </div>
</div>
